#top
{
    background-color: #0084ff;
    overflow: hidden;
    position: relative;
    font-family: sans-serif;
}

#top a 
{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#top a:hover
{
    background-color: white;
    color: #0084ff;
    transition: 0.3s;
}

#top a.active
{
    background-color: #008000;
    color: white;
}

#logo img
{
    width: 10%;
    height: 10%;
}

#footer
{
    bottom: 0;
    position: static;
    width: 100%;
    background-color: #0084ff;
    color: white;
    text-align: center;
    padding: 5px;
}